﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}
<head>
	<link href="~/css/AuthorProfileSettings.css" rel="stylesheet" />
</head>

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
	<form id="profile-form" method="post" enctype="multipart/form-data" class="my-form">
		<div class="col-md-12 d-flex">
			<div class="col-md-6">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input asp-for="Input.AuthorId" type="hidden" />
				<div class="form-group">
					<label asp-for="Username"></label>
					<input asp-for="Username" class="form-control" disabled />
				</div>
				<div class="form-group">
					<label asp-for="Input.PhoneNumber"></label>
					<input asp-for="Input.PhoneNumber" class="form-control" />
					<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
				</div>
				@if (User.IsInRole("Author"))
				{
					<div class="custom-file my-custom">
						<input asp-for="Input.ImagePath" type="file" class="custom-file-input my-custom" id="validatedCustomFile" accept="image/png, image/jpeg, image/jpg, image/bmp">
						<label class="custom-file-label" for="validatedCustomFile">Choose picture...</label>
						<div class="invalid-feedback">Example invalid custom file feedback</div>
					</div>
				}
				<div class="form-group author-bio">
					<label asp-for="Input.Bio"></label>
					<textarea asp-for="Input.Bio" class="form-control" ></textarea>
					<span asp-validation-for="Input.Bio" class="text-danger"></span>
				</div>
			</div>
			@if (User.IsInRole("Author"))
			{
				<div class="col-md-6 my-col">
					<div class="profile-picture" style="background-image:url('/img/team/@Model.ImagePath')">

					</div>

				</div>
			}
		</div>
		<div class="col-md-12 d-flex">
			<button id="update-profile-button" type="submit" class="genric-btn info circle save-btn">Save</button>
		</div>
	</form>
	</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
}