﻿@page
@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/LoginPage.css" rel="stylesheet" />

</head>

<body>
    <a asp-area="" asp-controller="Home" asp-action="Index" id="backbutton"><i class="fa fa-arrow-left"></i></a>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form">
        <h1>@ViewData["Title"]</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="txtb">
            <input asp-for="Input.Email" type="text" />
            <span data-placeholder="Email"></span>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="txtb">
            <input asp-for="Input.Password" type="password" />
            <span data-placeholder="Password"></span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label class="form-check-label" asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" class="form-check-input" type="checkbox">
                Remember me
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
        <input type="submit" class="loginbtn" value="Login" />
        <div class="bottom-text">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(".txtb input").on("focus", function () {
        console.log("in focus");
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    });
</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
@await Component.InvokeAsync("NToastNotify")



