﻿@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/RegisterPage.css" rel="stylesheet" />

</head>

<body>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" id="backbutton"><i class="fa fa-arrow-left"></i></a>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form">
            <h1>@ViewData["Title"]</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mycheckbox">
                <input asp-for="Input.Role" id="my-checkbox" onchange="addremove()" type="checkbox" data-toggle="switch" data-on-color="secondary" data-on-text="Author" data-off-color="default" data-off-text="Client">
            </div>
            <div>
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.Telephone"></label>
                <input asp-for="Input.Telephone" class="form-control" />
                <span asp-validation-for="Input.Telephone" class="text-danger"></span>
            </div>
            <div id="bio">
                <label asp-for="Input.Bio"></label>
                <textarea asp-for="Input.Bio" class="form-control"></textarea>
                <span asp-validation-for="Input.Bio" class="text-danger"></span>
            </div>
            <button type="submit" id="registerbtn">Register</button>
            <div class="bottom-text">
                <p>Already a member?<a asp-area="Identity" asp-page="/Account/Login">Login</a> </p>
            </div>
        </form>
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script src="~/js/bootstrap-switch.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notification.js"></script>
<script>
    $("#my-checkbox").bootstrapSwitch();
</script>
<script>
    $(document).ready(function () {
        $('#bio').hide(); //enter the class or id of the particular html element which you wish to hide.
    });
</script>
<script>
    function addremove() {

        var atLeastOneIsChecked = $('#my-checkbox:checked').length > 0;
        console.log(atLeastOneIsChecked);
        if (atLeastOneIsChecked) {
            $("#bio").show();
        }
        else {
            $("#bio").hide();

        }
    }
</script>

