﻿
@model UsersVM
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clients</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/AdminPanelClients.css" rel="stylesheet" />
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <!-- header-end -->
    <div class="container header">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    <br />
                    Manage Clients
                </h1>
                <div class="mycheckbox">
                    <input id="my-checkbox" onchange="addremove()" type="checkbox" data-toggle="switch" data-on-color="secondary" data-on-text="Disabled" data-off-color="default" data-off-text="Active">
                </div>
            </div>
        </div>

    </div>
  
    <div class="container">

        <div class="row">
            <h5 class="myactive">Active clients</h5>
            <table class="table table-striped myactive">
                <thead>
                    <tr>
                        <th width="20%">Email </th>
                        <th width="25%"> Full name</th>
                        <th width="25%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Active)
                    {
                        <tr>
                            <td>
                                <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-author="@item.FullName">@item.Username</a>
                            </td>

                            <td>
                                @item.FullName

                            </td>

                            <td>
                                <a asp-area="Admin" asp-controller="Users" asp-action="Disable" asp-route-userId="@item.Id" asp-route-url="clients" class="genric-btn danger-border circle">Disable</a>
                                <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-userId="@item.Id" asp-route-url="clients" class="genric-btn danger-border circle">Delete</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <h5 class="mydisabled">Disabled clients</h5>
            <table class="table table-striped mydisabled">
                <thead>
                    <tr>

                        <th width="20%">
                            Email


                        </th>
                        <th width="25%">
                            Full name

                        </th>
                        <th width="25%"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Disabled)
                    {
                        <tr>
                            <td>
                                <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-author="@item.FullName">@item.Username</a>
                            </td>
                            <td>
                                @item.FullName

                            </td>

                            <td>
                                <a asp-area="Admin" asp-controller="Users" asp-action="Enable" asp-route-userId="@item.Id" asp-route-url="clients" class="genric-btn success-border circle">Enable</a>
                                <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-userId="@item.Id" asp-route-url="clients" class="genric-btn danger-border circle">Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>




</body>

</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootstrap-switch.js"></script>
<script>
	$("#my-checkbox").bootstrapSwitch();
</script>
<script>
	$(document).ready(function () {
		console.log("in");
		$('.mydisabled').hide(); //enter the class or id of the particular html element which you wish to hide.
	});
</script>
<script>
	function addremove() {

		var atLeastOneIsChecked = $('#my-checkbox:checked').length > 0;
		console.log(atLeastOneIsChecked);
		if (atLeastOneIsChecked) {
			$(".myactive").hide();
			$(".mydisabled").show();
		}
		else {
			$(".myactive").show();
			$(".mydisabled").hide();

		}
	}
</script>