﻿@model AuthorReportsQueryVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

    <head>
        <link href="~/css/report-page.css" rel="stylesheet" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/AuthorPersonalPage.css" rel="stylesheet" />
        <title>InsightHub | @Model.SearchString</title>

    </head>

<body>
    <div class="author-info-holder">
        <div class="container">
            <div class="row">
                <div class="col-12 d-inline-flex">
                    <div class="col-2">
                        <div class="image-container">
                            <div class="author-picture" style="background-image: url('/img/team/@Model.ImagePath');">
                                @*<img src="@Model.ImagePath" />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="author-info">
                            <div class="author-name">
                                <p> @Model.SearchString </p>
                            </div>
                            <div class="author-bio">
                                @Model.Bio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rp-main">

        <div class="container">
            <div class="row">
                @foreach (var report in Model.Reports)
                {
                    <div class="d-flex col-12 rp-card">
                        <div class="col-4 rp-img-container">
                            <div class="rp-img" style="background-image:url('../img/reports/@report.ImagePath');">
                            </div>
                        </div>
                        <div class="d-flex flex-column col-6">
                            <p class="rp-title"><a asp-controller="Reports" asp-action="Details" asp-route-reportId="@report.Id">@report.Name</a></p>
                            <div class="pb-2">
                                @foreach (var tag in report.Tags)
                                {
                                    <a asp-controller="Reports" asp-action="Index" asp-route-searchCriteria="tag"
                                       asp-route-searchString="@tag" asp-route-currentPage="1" class="rp-tags">@tag</a>
                                }
                            </div>
                            <q class="rp-quote">@report.Description</q> <br>
                            <div class="test d-flex">
                                <a class="rp-author" asp-action="Details" asp-route-searchString="@Model.SearchString" asp-route-currentPage="1" asp-route-userId="@Model.UserId">@report.Author</a>
                                <p class="rp-downloads">Downloaded @report.Downloads times.</p>
                            </div>
                        </div>
                        <div class="rp-button-holder d-flex flex-column col-2">
                            <a asp-controller="Reports" asp-action="Details" asp-route-reportId="@report.Id" class="btn genric-btn circle rp-button rp-button-details">Read more</a>

                            @if (!User.IsInRole("Author") && !User.IsInRole("Admin"))
                            {
                                <a asp-controller="Blobs" asp-action="GetBlob" asp-route-reportId="@report.Id" target="_blank"
                                   class="btn genric-btn circle rp-button rp-button-download">Download</a>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-area="Admin" asp-controller="Reports" asp-action="UpdateReport" asp-route-id="@report.Id"
                                   class="btn genric-btn circle rp-button rp-button-update">Update</a>
                                <a asp-area="Admin" asp-controller="Reports" asp-action="FeatureReport" asp-route-id="@report.Id"
                                   class="btn genric-btn circle rp-button rp-button-feature">Feature</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rp-pagination">
            @if (Model.CurrentPage != 1)
            {
                <a asp-route-currentPage=@(Model.CurrentPage - 1)
                   asp-action="Details" asp-route-searchString="@Model.SearchString" asp-route-userId="@Model.UserId"
                   class="btn genric-btn circle">Previous</a>
            }

            @if ((Model.TotalPages - Model.CurrentPage) > 0)
            {
                <a asp-route-currentPage=@(Model.CurrentPage + 1)
                   asp-action="Details" asp-route-searchString="@Model.SearchString" asp-route-userId="@Model.UserId"
                   class="btn genric-btn circle">Next</a>
            }

        </div>

    </section>
    <!--main area ends-->
    <!--footer area starts-->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |  Team 10  by <a href="https://gitlab.com/dimitar_grozev">Mitko</a> & <a href="https://gitlab.com/mdotgeorgieva">Mimi</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--footer area ends-->
</body>
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/truncate-text.js"></script>
