﻿@import '_varriable.scss';


.rp-industry {
    h3 {
        color: $rp_main_color;
    }
}

.computer-science {
    background-image: url(../img/report-page/computer-science.jpg)
}

.health-care {
    background-image: url(../img/report-page/health-care.jpg)
}

.energy {
    background-image: url(../img/report-page/energy.jpg)
}

#unsub{
    background: red;
}

.rp-search {
    padding: 2rem;
    background-color: $rp_main_color;
    border-bottom: 0.1rem inset $report_card_boarder;
}

.rp-main {
    background-color: $rp_main_color;
    padding: 2rem;
}

.rp-card {
    background-color: #fafafa;
    padding: 2rem;
    margin: 1.5rem;
    border: 2px solid $report_card_boarder;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.03);

    .rp-img {
        margin-right: 1rem;
        height: 285px;
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        border-radius: 16px;
    }

    .rp-title {
        font-size: 1.35rem;
        line-height: 1.5;
        font-weight: 700;
    }

    .rp-summary {
        text-align: left;
    }

    .rp-tags {
        background: #fff;
        border: 1px solid $report_card_boarder;
        border-radius: 6px;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        text-transform: lowercase;
        line-height: 14px;
        color: black;
        display: inline-block;
        height: 24px;
        padding: 4px 12px 0 12px;
        position: relative;
        margin: 0 0.4rem 0 0;
        text-decoration: none;
    }

    .rp-tags:hover {
        background-color: #454654;
        color: white;
    }

    .rp-tags:hover::after {
        border-left-color: #454654;
    }
}

.rp-quote {
    padding: 2px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.test {
    margin-top: auto;
    justify-content: flex-end;
}

.rp-author {
    font-style: italic;
    padding-top: 0.5rem;
    color: black;
    font-weight: 500;
}

.rp-downloads {
    padding-top: 0.5rem;
    align-content: flex-end;
    margin-left: auto;
}

.col-6 {
    padding-right: 35px;
}

.rp-button-holder {
    margin: 0 auto;
    justify-content: center;
    border-left: 2px solid $report_card_boarder;
    padding-left: 35px;

    .rp-button {
        min-width: 114px;
    }

    .rp-button-details {
        background-color: transparent;
        border: 2px solid $report_card_boarder;
        color: #545454;
        margin-bottom: 0.8rem;

        &:hover {
            background-color: #dcdcdc;
        }
    }

    .rp-button-download,
    .rp-button-update,
    .rp-button-feature {
        background-color: #41566d;
        color: #fafafa;
        margin-bottom: 0.8rem;

        &:hover {
            background-color: #303744;
            color: $rp_main_color;
        }
    }
}


.rp-pagination {
    display: flex;
    justify-content: center;

    a {
        border: 1px solid $report_card_boarder;
        background-color: #fafafa;
        min-width: 100px;

        &:first-child {
            margin-right: 1rem;
        }
    }
}
