﻿body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23f5faff' fill-opacity='0.88' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    background-attachment: fixed;
}

.about-container{
    margin-top: 140px;
    margin-bottom: 50px;
}

.info {
    padding-top: 25px;
    line-height: 1.8;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
}

h4{
    margin: 2rem 0 1.5rem 0;
}
.separator{
    height: 10px;
}
cite{
    float: right;
    padding-right: 25px;
}