﻿.authors {
	background-size: cover;
	background-repeat: no-repeat;
	width: 125px;
	height: 125px;
	margin: 0 auto;
	border-radius: 50%;
}

.description .tooltiptext {
	visibility: hidden;
	width: 600px;
	background-color: #e9edf0;
	color: black;
	text-align: center;
	border-radius: 10px;
	padding: 60px 40px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: -25%;
}

.description:hover .tooltiptext {
	visibility: visible;
}