﻿
.author-info-holder{
	margin-top:8vh;	
}

.image-container {
	overflow: hidden;
	border-radius: 50%;
	max-width: 125px;
	margin: 0 auto;
	box-shadow: 5px 5px 2px #ccc;
}

.author-picture {
	background-size: cover;
	background-repeat: no-repeat;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	transition: transform .5s
}

.author-picture:hover{
	transform:scale(1.1);
}
.author-name p{
	margin: 0 20px;
	font-size:40px;
}
.d-inline-flex {
	margin: 4vh 1vh 2vh 1vh;
}

.author-info {
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.author-info .author-name{
	margin-bottom:20px;
}

	.author-info .author-name p{
		margin-left:0;
	}
