@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
.cr-container {
  margin-top: 90px;
  justify-content: center;
}
.cr-container .cr-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
}
.cr-container .cr-form .info-text {
  margin-bottom: 0.8rem;
}
.cr-container .cr-form .info-text p {
  font-size: 0.8rem;
}
.cr-container .cr-form .cr-fields {
  text-align: left;
  max-width: 450px;
  margin: 0 auto;
}
.cr-container .cr-form .cr-fields label {
  font-size: 16px;
}
.cr-container .cr-form .cr-fields .cr-upload {
  margin: 0.8rem 0;
}
.cr-container .cr-form .cr-button {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
  margin-right: 1rem;
  min-width: 100px;
}
.cr-container .cr-form .cr-button input {
  min-width: 100px;
}