﻿@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	box-sizing:border-box;
}

body {
	background-image: linear-gradient(120deg,#2980b9,#2c3e50);
}

#backbutton {
	color: white;
	font-size: 50px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 40px;
}

	#backbutton:hover {
		cursor: pointer;
	}

.login-form {
	width: 400px;
	background: #f1f1f1;
	height: 580px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 40%;
	top: 10%;
	transform:translate(0%,0%);
	
}

	.login-form h1 {
		text-align: center;
		padding-bottom: 30px;
	}
.txtb{
	border-bottom:2px solid #adadad;
	position:relative;
	margin:30px 0;
}

.txtb input{
	font-size:15px;
	color:#333;
	border:none;
	width:100%;
	outline:none;
	background:none;
	padding:0 5px;
	height:40px;
}

.txtb span::before{
	content :attr(data-placeholder);
	position:absolute;
	top:50%;
	left:5px;
	color:#adadad;
	transform:translateY(-50%);
	z-index: -1; 
	transition: .5s;
}

	.txtb span::after {
		content: "";
		position: absolute;
		width: 0%;
		height: 2px;
		top:100%;
		left:0%;
		background: linear-gradient(120deg,#2980b9,#2c3e50);
		transition: .5s;
	}
	.focus + span::before{
		top: -5px;
	}
	.focus + span::after{
		width:100%;
	}
.loginbtn {
	display: block;
	width: 100%;
	height: 30px;
	border: none;
	text-align: center;
	margin-top: 20px;
	background: linear-gradient(120deg,#2c3e50,#2980b9);
	color: white;
	border-radius: 20px;
}
	.loginbtn:hover {
		background-position: right;
	}
.mycheckbox {
	margin-bottom: 20px;
	margin-left: 120px;
}

textarea {
	font-size: 20px;
}

.bottom-text{
	margin-top:60px;
	margin-left:70px;
	color:black;
}